section{
    text-align: center;
    padding: 15px;
}
button{
    font-size: 13px;
    padding: 10px 15px;
    border: none;
    outline: none;
    margin: 10px;
    box-shadow: 0 0 5px gray;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}
table , th , td{
    text-align: center;
    padding: 10px;
    font-size: 12px;
}
table{
    width: 80%;
    margin: auto;
    box-shadow: 0 0 5px gray;
}
table th{
   background-color: #5DADE2;
    color: white;
}

input[type="search"]{
    font-size: 20px;
    border: 1px solid #5DADE2;
    outline: none;
    height: 50px;
    border-radius: 10px;
    margin: 15px;
}
input[type="search"]:focus{
    box-shadow: 0 0 10px #5DADE2;
}
p{
    font-size: 18px;
    margin: 0;
}
span{
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.btn-emp{
	margin-bottom: 10px;
    padding: 6px;
}
.nav-link{
	font-size:10px;
	color:#fff;
}
#searchText{
    border:#337ab7 solid;
    border-width: .2em;
    border-radius: .7em .7em .7em .7em;
    padding: .2em .2em .2em .5em;
    width: 800px;
}
