.body{
    font-size: 20px;
    overflow-x:hidden ;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-image: url('../images/background-img.gif');
    background-size: cover;
    height: 100vh;

}
.row{
    max-width: 1180px;
    margin: auto;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-left: 40px;
}
.main-nav{
    float: left;
    margin-top: 37px;
    margin-left: 159px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 38px;

    cursor: pointer;
}
.main-nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}
.main-cont-header{
    width: 540px;
    position: absolute;
    top:40%;
    left: 25%;
    transform: translate(-50%);
    color:white;
    font-family: sans-serif;
}
.cont{

    background-color: ghostwhite;
    padding: 30px 50px 20px 50px;
}
p{
    font-family: "Graphik Regular","Arial",Sans-Serif;
}
.Ch{
    font-weight: bold;
}
.img-icon{
    height:60px;
    width:60px;
    margin-bottom: 10px;
}
.img-icon:hover{
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

